<h4>Notes on post formatting</h4>
<p>Markdown syntax micro cheat-sheet:</p>
<ul>
    <li><em>Emphasized text</em> - <code>*single asterisks*</code> or <code>_single underlines_</code>.</li>
    <li><strong>Bold text</strong> - <code>**double asterisks**</code> or <code>__double underlines__</code>.</li>
    <li><a href="{{ url_for('index') }}">Links</a> by <code>[link text](url)</code>.</li>
    <li><code>code.py</code> - <code>`backtick quotes`</code>.</li>
    <li>Inline image - <code>![Alt text](/path/to/img.jpg "Optional title")</code>.</li>
    <li>Blockquote - <code>> quote</code>.</li>
    <li>Escape characters (e.g. <code>_</code>, <code>*</code>, <code>`</code>) with backslash (<code>\*, \_, \`</code>).</li>
</ul>
<p>Full Markdown syntax in <a href="https://daringfireball.net/projects/markdown/syntax">Markdown docs</a>.</p>
<ul>
    <li>HTML-tags are allowed. Use with caution, probably.</li>
    <li>Useful information.</li>
</ul>
