<table class="table table-hover">
    <tr>
        <td>
            <div>
                <h2>{{ post.title }}</h2>
                <p>
                    Posted:
                    {{ post.timestamp.strftime("%Y-%m-%d, %H:%M") }} <b>UTC</b>
                    {% if post.last_edit %}
                    - Edited: {{ post.last_edit.strftime("%Y-%m-%d, %H:%M") }}
                    {% endif %}
                </p>
                <p>{{ post.body }}</p>
            </div>
            <div>
                {% include '_comment.html' %}
            </div>
        </td>
    </tr>
</table>
