<div class="row">
    <table class="table table-hover">
        <tr>
            <td>
                <div">
                    <h3>
                        <a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a>
                    </h3>
                    <p>
                        Posted
                        {{ post.timestamp.strftime("%Y-%m-%d") }}
                        in category <b><a href="{{ url_for('browse_cat', category=post.category) }}">{{ post.category.capitalize() }}</a></b>
                        {% if post.last_edit %}
                        - Edited: {{ post.last_edit.strftime("%Y-%m-%d") }}
                        {% endif %}
                    </p>
                    {% if post.photo_filename %}
                        <img src="{{ url_for('static', filename='img/blog_photos/' + post.photo_filename) }}" alt="{{ post.photo_alt_text }}">
                    {% endif %}
                    <p style="white-space: pre-wrap;">{{ post.body|safe }}</p>
                </div>

                <div>
                    <hr>
                    <p style="float:right;">Post score: <strong>{{ post.post_score }}</strong> - <a href="{{ url_for('approve', post_id=post.id, url=request.url) }}">Click to approve.</a></p>
                    {% include '_comment.html' %}
                </div>
            </td>
        </tr>
    </table>
</div>
