<hr>
<p class="load_comments">Load comments</p>

<div class="comments">
    <p>Go to <a href="{{ url_for('post', post_id=post.id) }}">post page</a> to add your own comment.</p>
    {% if comments %}

    {% for comment in comments %}
        {% if comment.post_id == post.id %}
            <p><i>{{ comment.author }}</i>, on {{ comment.timestamp.strftime("%Y-%m-%d, %H:%M") }} UTC.</p>
            <p style="white-space: pre-wrap;">{{ comment.body }}</p>
        {% endif %}
    {% endfor %}

    {% else %}
        <p>No comments yet.</p> {# DOESN'T WORK AT THE MO #}
    {% endif %}

    <p style="padding-top:10px" class="hide_comments">Hide comments</p>
</div>



