<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - My_site</title>
        {% else %}
        <title>Welcome to My_site!</title>
        {% endif %}
    </head>
    <body>
        <div>
            My_site:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('#') }}">Portfolio</a>
            <a href="{{ url_for('#') }}">Blog</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
