{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
    my_site - {{ title }}
    {% else %}
    Welcome to my_site!
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $('.comments').addClass('hide');

        var load_comments = $('.load_comments'),
            hide_comments = $('.hide_comments');

        load_comments.click(function() {
            $(this).hide().next('div').toggleClass('hide');
        });

        hide_comments.click(function() {
            $(this).parent().toggleClass('hide');
            $(this).parent().prev().show();
            });
    </script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1", aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">my_site</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('index') }}">Portfolio</a></li>
                    <li><a href="{{ url_for('index') }}">Blog</a></li>
                </ul>

                {# ADMIN TOOLS #}
                {% if current_user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('admin') }}">Edit Home Page</a></li>
                    <li><a href="{{ url_for('admin') }}">Edit Portfolio</a></li>
                    <li><a href="{{ url_for('manage_blog') }}">Manage Blog</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# APP CONTENT HERE #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
