{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">

    <h4>Edit post data and hit save changes.</h4>
        <div class="col-md-6">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}

                {{ wtf.form_field(form.post_title) }}
                {{ wtf.form_field(form.post_body, rows=6) }}
                <p><a href="{{ url_for('edit_categories') }}">Edit categories</a></p>
                {{ wtf.form_field(form.category) }}
                {{ wtf.form_field(form.submit) }}
            </form>
        </div>
</div>
{% endblock %}
