{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h3>Edit post data and hit save changes.</h3>
    <div class="row">
        <div class="col-md-6">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}

                {{ wtf.form_field(form.post_title) }}
                {{ wtf.form_field(form.post_body) }}
                {{ wtf.form_field(form.submit) }}
            </form>
        </div>
    </div>
{% endblock %}
