{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="row">


    <div class="col-md-6">
        <h4>Publish a new blog post!</h4>
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}

            {{ wtf.form_field(form.post_title) }}
            {{ wtf.form_field(form.post_body, rows=6) }}
            <p><a href="{{ url_for('edit_categories') }}">Edit categories</a></p>
            {{ wtf.form_field(form.category) }}
            {{ wtf.form_field(form.photo) }}
            {{ wtf.form_field(form.photo_alt_text) }}
            {{ wtf.form_field(form.submit) }}
        </form>
    </div>
    <div class="col-md-6">
        {% include "_blognotes.html" %}
    </div>
</div><hr>

<div class="row">
    <h4>Manage posts</h4>

    <table class="table table-hover">
        {% for post in posts %}
        <tr>
            <td>
                <p><b>{{ post.title }}</b></p>
            </td>
            <td>
                <p style="text-align:right;">
                    {% if post.last_edit %}
                    Last edit:
                    {{ post.last_edit.strftime("%Y-%m-%d, %H:%M") }} -
                    {% endif %}
                    <a href="{{ url_for('edit_score', post_id=post.id) }}">Edit score</a> (<strong>{{ post.post_score }}</strong>) |
                    <a href="{{ url_for('manage_comments', post_id=post.id) }}">Manage comments</a> (<strong>0</strong>) |
                    <a href="{{ url_for('edit_blog_post', post_id=post.id) }}">Edit post</a> |
                    <a href="{{ url_for('delete_post', post_id=post.id) }}">Delete Post</a>
                </p>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="row">
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&laquo;</span> Newer
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

{% endblock %}
