{% extends "base.html" %}

{% block content %}
    <h2>Post a new blog post!</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post_title.label }}<br>
            {{ form.post_title(cols=60, rows=1) }}<br>
            {% for error in form.post_title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.post_body.label }}<br>
            {{ form.post_body(cols=60, rows=4) }}<br>
            {% for error in form.post_body.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}
